<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_dashboard.css">

    <!-- Importacion de fuentes a partir de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">

        <div class="navigation">

            <ul>
                <li>
                    <a href="/perfil">
                        <span class="icon-logo"><img title="Inicio" src="../static/img/Logo.png" alt=""></span>
                        <span class="title" title="Inicio"><h2>Somos UNIÓN</h2></span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard1">
                        <span class="icon" title="Dashboard"><i class="material-icons" >grid_view</i></span>
                        <span class="title">Dashboard</span>  
                    </a>                    
                </li>
                <li>
                    <a href="/perfil">
                        <span class="icon" title="Perfil"><i class="material-icons" >account_circle</i></span>
                        <span class="title">Perfil</span>  
                    </a>                    
                </li>
                <li>
                    <a href="/listado_citas">
                        <span class="icon" title="Citas"><i class="material-icons">event</i></span>
                       <span class="title">Citas</span>
                    </a>               
                </li>
                <li>
                    <a href="#informes">
                        <span class="icon" title="Informes"><i class="material-icons">description</i></span>
                        <span class="title">Informes</span>
                    </a>
                </li>
                <li>
                    <a href="#herramientas">
                        <span class="icon" title="Herramientas"><i class="material-icons">plumbing</i></span>
                        <span class="title">Herramientas</span>
                    </a>
                </li>
                <li>
                    <a href="#diagnosticos">
                        <span class="icon" title="Diagnósticos"><i class="material-icons">medical_services</i></span>
                        <span class="title">Diagnósticos</span>
                    </a>
                </li>
                <li>
                    <a href="#mediccion">
                        <span class="icon" title="Medicación"><i class="material-icons">medication_liquid</i></span>
                        <span class="title">Medicación</span>
                    </a>
                </li>
                <li>
                    <a href="#vacunas">
                        <span class="icon" title="Vacunas"><i class="material-icons">vaccines</i></span>
                        <span class="title">Vacunas</span>
                    </a>
                </li>                
                <li>
                    <a href="/logout">
                        <span class="icon" title="Cerrar Sesión"><i class="material-icons">logout</i></span>
                        <span class="title">Cerrar sesión</span>
                    </a>
                </li>                
            </ul>

        </div>

        <div class="main">

            <div class="topbar">

                <div class="toggle material-icons" onclick="toggleMenu()" title="Menú"></div>
                <div class="search">
                    <label for="">
                        <input type="text" placeholder="Buscar en esta página.">
                        <i class="material-icons fa">search</i>
                    </label>
                </div>
                <div class="navigation-top">
                    <ul>
                        <li>
                            <a href="#home">
                                <span class="icon"><i class="material-icons">home</i></span>
                                <span class="title"><h2>Inicio</h2></span>
                            </a>
                        </li>
                        <li>
                            <a href="#mensajes">
                                <span class="icon"><i class="material-icons">message</i></span>
                                <span class="title"><h2>Mensajes</h2></span>
                            </a>
                        </li>
                        <li>
                            <a href="#alertas">
                                <span class="icon"><i class="material-icons">notifications</i></span>
                                <span class="title"><h2>Alertas</h2></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="usuario">
                    <img src="../static/img/fotoUsuario.jpg" alt="foto del usuario" title="Foto de usuario">
                </div>

            </div>

            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">134</div>
                        <div class="cardName">Pacientes Nuevos</div>
                    </div>
                    <div class="icon-box">
                        <i class="material-icons">person_add</i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">57</div>
                        <div class="cardName">Nuestros Doctores</div>
                    </div>
                    <div class="icon-box">
                        <i class="material-icons">people</i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">24</div>
                        <div class="cardName">Operaciones</div>
                    </div>
                    <div class="icon-box">
                        <i class="material-icons">health_and_safety</i>
                    </div>
                </div>  
                <div class="card">
                    <div>
                        <div class="numbers">$ 153.22 M</div>
                        <div class="cardName">Ingresos</div>
                    </div>
                    <div class="icon-box">
                        <i class="material-icons">paid</i>
                    </div>
                </div>  
            </div>
            <div class="information-box">
                <div class="solicitud-citas">
                    <div class="cardHeader">
                        <h2>Solicitudes Entrantes</h2>
                        <a href="#requests" class="btn">Ver todo</a>
                    </div>
                    
                    <table>
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Fecha de la cita</td>
                                <td>Hora</td>
                                <td>Seleccionar</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Veronica Oviedo</td>
                                <td>24-10-2021</td>
                                <td>08:00</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Marius Macia</td>
                                <td>13-12-2021</td>
                                <td>11:30</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Ursula Mas</td>
                                <td>18-10-2021</td>
                                <td>14:30</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Paulina Roca</td>
                                <td>30-12-2021</td>
                                <td>17:15</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Baltasar Pellicer</td>
                                <td>13-10-2021</td>
                                <td>19:15</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Carles Zamorano</td>
                                <td>20-10-2021</td>
                                <td>10:00</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Yesica Barbera</td>
                                <td>13-10-2021</td>
                                <td>13:45</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                            <tr>
                                <td>Jana Mariscal</td>
                                <td>23-10-2021</td>
                                <td>11:15</td>
                                <td><a href="#acept-appointment" class="aceptar-cita"><i class="material-icons">check_circle</i></a><a href="#decline-appointment" class="rechazar-cita"><i class="material-icons">highlight_off</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="pacientes-recientes">
                    <div>
                        <div class="cardHeader">
                            <h2>Paciente Recientes</h2>
                            <a href="#pacientes-recientes" class="btn">Ver todo</a></div>
                        
                        <table>
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Fecha de la cita</td>
                                    <td>Hora</td>
                                    <td>Asistió?</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Veronica Oviedo</td>
                                    <td>24-10-2021</td>
                                    <td>08:00</td>
                                    <td><a href="#acept-appointment" class="done"><i class="material-icons">done</i></a>
                                </tr>
                                <tr>
                                    <td>Marius Macia</td>
                                    <td>13-12-2021</td>
                                    <td>11:30</td>
                                    <td><a href="#acept-appointment" class="done"><i class="material-icons">done</i></a></td>
                                </tr>
                                <tr>
                                    <td>Ursula Mas</td>
                                    <td>18-10-2021</td>
                                    <td>14:30</td>
                                    <td><a href="#acept-appointment" class="close"><i class="material-icons">close</i></a></td>
                                </tr>
                                <tr>
                                    <td>Paulina Roca</td>
                                    <td>30-12-2021</td>
                                    <td>17:15</td>
                                    <td><a href="#acept-appointment" class="done"><i class="material-icons">done</i></a></td>
                                </tr>
                                <tr>
                                    <td>Baltasar Pellicer</td>
                                    <td>13-10-2021</td>
                                    <td>19:15</td>
                                    <td><a href="#acept-appointment" class="close"><i class="material-icons">close</i></a></td>
                                </tr>
                                <tr>
                                    <td>Carles Zamorano</td>
                                    <td>20-10-2021</td>
                                    <td>10:00</td>
                                    <td><a href="#acept-appointment" class="done"><i class="material-icons">done</i></a></td>
                                </tr>
                                <tr>
                                    <td>Yesica Barbera</td>
                                    <td>13-10-2021</td>
                                    <td>13:45</td>
                                    <td><a href="#acept-appointment" class="done"><i class="material-icons">done</i></a></td>
                                </tr>
                                <tr>
                                    <td>Jana Mariscal</td>
                                    <td>23-10-2021</td>
                                    <td>11:15</td>
                                    <td><a href="#acept-appointment" class="close"><i class="material-icons">close</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="information2-box">
                <div class="card-mes">
                    <div class="cardName"><h1>Doctor del mes</h1></div>
                    <div class="fotoDoctor-mes">
                        <img src="../static/img/doctorMes.jpg" alt="">
                    </div>
                    <div class="nombre_doctor"><a href="#doctor-del-mes" title="Ver Información"><h2>Dra. Franchesca López</h2></a></div>
                    
                </div>
            </div>

        </div>
        

    </div>
</body>
</html>

<!-- programar el responsive del navigation -->
<script>
    function toggleMenu(){
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");

        toggle.classList.toggle("active");
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    }
</script>