<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sed eligendi quasi rerum velit tempora eaque quia nam deserunt assumenda voluptatum eveniet aliquam, vel error reprehenderit natus officiis sint possimus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptatum molestias repellat! Quod suscipit neque quo voluptatibus quae! Asperiores quibusdam error beatae totam labore velit quaerat fuga consequatur id hic.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, incidunt quo? Laborum corporis voluptas animi eos culpa? Repellendus quis quam eum officia minus. Nulla odio accusantium debitis, quia placeat distinctio!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque nulla voluptas error, dignissimos esse recusandae eaque. Modi aut voluptatem atque consequuntur, molestias distinctio placeat, veniam minus, maiores eveniet consectetur!
    </p>
</body>
</html>